.homeMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}
.homeMain .btn{
    font-weight: 510;
}
.homeSelectArea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
}
.homeMain h3{
    padding: 0.5em;
    opacity: 0.7;
}
.homeMain .homeSelectArea .btn{
    font-weight: 550;
    font-size: 1em;
}
.homeMain .downloadPDF{
    text-decoration: none;
    padding: 0.5em;
    color: var(--background);
    border:1px solid var(--red);
    color: var(--text);
    font-weight: 550;
    cursor: pointer;
    transition: 0.5s;
}
.homeMain .downloadPDF:hover{
  background-color: var(--red);
  color: var(--background);
}