.homeMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.homeMain .btn{
    font-weight: 510;
}
.homeSelectArea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px dashed var(--primary);
    padding: 1em;
    margin: 1em;
}
.homeSelectArea h3{
    padding: 0.5em;
}
.homeMain .downloadPDF{
    text-decoration: none;
    padding: 0.5em;
    color: var(--background);
    background-color: var(--red);
    font-weight: 550;
    cursor: pointer;
}