.routineMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--text);
}

.routineList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5em;
}
.routineMain .copyPageUrl{
    padding: 0.5em;
    border: 1px solid var(--primary);
    cursor: pointer;
    transition: 0.5s;
    font-weight: 500;
    margin: 0.5em;
}
.routineMain .copyPageUrl:hover{
   background-color: var(--primary);
   color: var(--background);
}
