.sectionAMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.routineBoxArea{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.routineBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    border: 1px solid var(--primary);
    margin: 0.7em;
    box-sizing: border-box;
    transition: 0.5s;
}
.routineBox:hover{
    box-shadow: 0 0 10px var(--primary);
}
.routineBox h5{
    opacity: 0.7;
}
.routineBox h3,h4,h5{
    padding: 0.2em;
}